.issueCard {
  background-color: var(--primary-contrast);
  border-radius: 0.5em;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0);
  margin: auto;
  max-width: 140px;
  padding: 1em;
  position: relative;
}

.issueCardRibbon {
  background-color: var(--primary-dark);
  bottom: 1em;
  clip-path: polygon(1.5em 0, 100% 0, 100% 100%, 0 100%);
  margin-bottom: 0.5em;
  padding: 0.5em 0.5em 0.5em 1.5em;
  position: absolute;
  right: 1em;
}

.issueCardRibbon :is(a) {
  color: var(--primary-light);
  font-size: 1.25em;
  font-weight: 600;
}
