.buttonLink {
	background-color: var(--primary-dark);
	color: var(--primary-light);
	font-weight: 600;
	padding: 0.5em 2em;
	text-decoration: none;
}

.buttonLink:hover {
	color: var(--primary-light);
	text-decoration: none;
}
